/* GENERAL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Fraunces", serif;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(95, 93, 93);
}

/* MAIN CSS */
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  max-width: 37.5rem;
  margin: 5rem auto 0 auto;
  background-color: hsl(0, 0%, 100%);
}

.card__score-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(46, 43, 233);
  background: linear-gradient(
    0deg,
    rgba(46, 43, 233, 1) 35%,
    rgba(102, 102, 255, 1) 100%
  );
  color: hsl(241, 100%, 89%);
  padding: 2rem 3rem;
  border-radius: 0 0 1.5rem 1.5rem;
}
